<nav id="pagination_ajax" aria-label="Product navigation">
    <ul class="pagination">

        <li class="page-item">
            <a data-page="1" class="arrow page-link" href="#" aria-label="{% trans %}Previous{% endtrans %}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% for i in 1..pages %}
            {% set active = i == 1 ? ' active' : null %}
            <li class="page-item{{ active }}"><a data-page="{{ i }}" class="page-link" href="#">{{ i }}</a></li>
        {% endfor %}

        <li class="page-item">
            <a data-page="{{ pages }}" class="arrow page-link" href="#" aria-label="{% trans %}Next{% endtrans %}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

    </ul>
</nav>